@font-face {
    font-family: 'Fira Sans';
    src: url("./fonts/Fira_Sans-Roboto_Slab/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.custom-font {
    font-family: 'Fira Sans', sans-serif;
}
.cell.header{
    border: 1px solid black;
    background: #ddd 
}
.cell.header.years{
    padding: 0px 10px;
}
.cell{
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    border: 1px solid black;
}
.cell[rowspan]{
    vertical-align: baseline;
}
.cell[colspan]{
    text-align: right;
    padding-right: 6px;
}
.cell.total{
    font-weight: bold;
    background-color: rgb(235,235,235);
}
.cell.value{
    border: 1px solid gray;
    padding-left: 6px;
    text-align: center;
}
.cell.value.total{
    padding-top: 6px;
    padding-bottom: 6px;
}
.cell.even[deep="0"]{
    background: #f9f9f9;
}
.cell[rowspan][deep="0"]{
    text-align: center;
    vertical-align: middle;
    padding: 6px;
}
.cell[rowspan][deep="1"]{
    vertical-align: middle;
    padding: 6px
}
.cell[rowspan][deep="2"]{
    vertical-align: middle;
    padding: 6px;
}
.cell[rowspan][deep="3"]{
    vertical-align: middle;
    padding: 6px;
}
.syntable{
    margin-bottom: 20px;
}
.synt.cell{
    padding: 6px;
}
.synt.unige, .synt.unige.value{
    background-color: #002677;
    color: white;
    border: 1px solid white;
}
.synt.extunige, .synt.extunige.value{
    background-color: #F4DA40;
    color: black;
}